<!-- Menu -->
<nav id="menu">
  <ul class="links">
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/sales">Sales</a></li>
    <li><a href="/marketing">Marketing</a></li>
    <li><a href="/accounting">Accounting</a></li>
    <li><a href="/legal-advisory">Legal Advisory</a></li>
    <li><a href="/human-resources">Human Resources</a></li>
  </ul>
  <ul class="actions stacked">
    <li><a href="/logout" class="button fit">Logout</a></li>
  </ul>
</nav>
