<!DOCTYPE html>
<html>
  <head>
    <title>Invoice AI</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <noscript
      ><link rel="stylesheet" href="/assets/css/noscript.css"
    /></noscript>
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header id="header" class="alt">
        <a href="/" class="logo"
          ><strong>Invoice AI</strong> <span>by Laurențiu Cozma</span></a
        >
        <nav>
          <a href="#menu">Menu</a>
        </nav>
      </header>

      <!-- Menu -->
      <nav id="menu">
        <ul class="links">
          <li><a href="/dashboard">Home</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <ul class="actions stacked">
          <li><a href="/logout" class="button fit">Logout</a></li>
        </ul>
      </nav>

      <!-- Main -->
      <div id="main">
        <a href="/sales">Sales</a>
        <a href="/marketing"> Marketing</a>
        <a href="/accounting">Accounting</a>
      </div>

      <!-- Contact -->
      <section id="contact">
        <div class="inner">
          <section>
            <form method="post" action="#">
              <div class="fields">
                <div class="field half">
                  <label for="name">Name</label>
                  <input type="text" name="name" id="name" />
                </div>
                <div class="field half">
                  <label for="email">Email</label>
                  <input type="text" name="email" id="email" />
                </div>
                <div class="field">
                  <label for="message">Message</label>
                  <textarea name="message" id="message" rows="6"></textarea>
                </div>
              </div>
              <ul class="actions">
                <li>
                  <input type="submit" value="Send Message" class="primary" />
                </li>
              </ul>
            </form>
          </section>
          <section class="split">
            <section>
              <div class="contact-method">
                <span class="icon solid alt fa-envelope"></span>
                <h3>Email</h3>
                <a href="#">laurentiucozma12@gmail.com</a>
              </div>
            </section>
            <section>
              <div class="contact-method">
                <span class="icon solid alt fa-phone"></span>
                <h3>Phone</h3>
                <span>+40 741 546 308</span>
              </div>
            </section>
            <section>
              <div class="contact-method">
                <span class="icon solid alt fa-home"></span>
                <h3>Address</h3>
                <span
                  >Cluj-Napoca<br />
                  Romania<br />
              </div>
            </section>
          </section>
        </div>
      </section>

      <%- include('layouts/footer.ejs') %>
    </div>

    <!-- Scripts -->
    <%- include('layouts/scripts.ejs') %>
  </body>
</html>

