<!DOCTYPE html>
<html>
  <head>
    <title>Corporate AI | Legal Advisory</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <noscript
      ><link rel="stylesheet" href="/assets/css/noscript.css"
    /></noscript>
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Menu -->
      <%- include('layouts/dashboardMenu.ejs') %>

      <!-- Main -->
      <div id="main" class="invoices">
        <div class="invoices-container">
          <form class="meta-form">
            <h1>Legal Advisory</h1>
            <h2>Upload your invoices</h2>

            <label for="invoice">
              <input
                type="file"
                id="invoice"
                name="invoice"
                accept="application/pdf"
                multiple
              />
            </label>

            <h2>Ask a question</h2>
            <label for="title">
              <input type="text" name="title" class="question-input" />
              <button>Generate Response</button>
            </label>
          </form>

          <div class="description">
            <p>Your answer will be displayed here...</p>
          </div>
        </div>
      </div>

      <%- include('layouts/footer.ejs') %>
    </div>

    <!-- Scripts -->
    <%- include('layouts/scripts.ejs') %>
    <script src="/assets/js/legalAdvisory.js"></script>
  </body>
</html>
