<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="auth.css" />
  </head>
  <body class="bg-image">
    <div class="wrapper">
      <form action="/register" method="post">
        <h2>Register</h2>
        <div class="input-field">
          <input
            type="text"
            id="email"
            name="email"
            autocomplete="off"
            required
          />
          <label>Enter your email</label>
        </div>
        <div class="input-field">
          <input
            type="username"
            id="username"
            name="username"
            autocomplete="off"
            required
          />
          <label>Enter your username</label>
        </div>
        <div class="input-field">
          <input
            type="password"
            id="password"
            name="password"
            autocomplete="off"
            required
          />
          <label>Enter your password</label>
        </div>
        <button class="auth-submit-btn" type="submit">Register</button>
        <div class="register">
          <p>Already have an account? <a href="/login">Login</a></p>
        </div>
      </form>
    </div>
  </body>
</html>
